<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kids Quiz</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="theme">

  <header>
    <h1>🎉 Pick a Category!</h1>
  </header>

  <div class="ribbon"></div>

  <main>
    <ul id="tabs">
      <li>Cartoon</li>
      <li>Movies</li>
      <li>Cricket</li>
      <li>Science</li>
      <li>Math</li>
    </ul>
  </main>

  <footer>
    <strong>&copy; 2025 Developed by Srikanth.Nagalla</strong>
  </footer>

</body>
</html>
